@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding: 0; 
    @apply text-gray-600;
}

body{
    @apply select-none;
}

html{
    font-size: 16px;
}

table{
    td{
        @apply w-full py-2;
    }
}

button{
    @apply py-3 rounded-md px-4 tracking-wide;
}

button:disabled{
    @apply bg-gray-300;
}

button:disabled:hover{
    @apply bg-gray-300;
}

@media (max-width: 480px){
    html{
        font-size: 10px;
    }
}
